.container{
    width: 100%;
    height:fit-content;
    min-height: 89.2vh;
    background-color: #ADC992;
}
.formContainer{
    display: flex;
    justify-content: center;
    padding-top: 80px;
}
.inputField{
    border:none;
    outline: none;
    width: 400px;
    height: 40px;   
    border-radius: 8px;
    padding-left: 20px;
    font-size: 15px;
}
.inputField:focus{
    color: #233D4D;
}
.inputField::placeholder{
    color: #233D4D;
}
.button{
    border: none;
    margin-left: 10px;
    padding: 12.5px 20px;
    border-radius: 8px;
    cursor: pointer;
    background-color:#233D4D;
    color: rgb(231, 231, 231);
    transition: .3s  all ;
    letter-spacing: .8px;
}
.button:hover{
    background-color: #FE7F2D;
    color: #233D4D;
}
.allTaskContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.dateInput{
    border:none;
    padding: 10px 8px;
    border-radius: 8px;
    margin-left: 5px;
    outline: none;
}

@media screen and (max-width: 450px) {
    
    .container{
        width: 100%;
        box-sizing: border-box;
    }
    .formContainer{
        display: grid;
        grid-template-columns: 1 1 1;
    }
    .inputField{
       display: grid;
       
    }
    .button{
        display: grid;
        margin-top: 20px;
        margin-left: 0px;

    }
    .dateLable{
        display: none;
       
    }
    .dateInput{
        margin-top: 20px;
        margin-left: 0px;
    }
}